*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;

}
body{
    background-color: $body;
}

.conteiner{
    max-width: 1920px ;
    width: 80%;
    margin: auto;
}

