@import
'variables/variable';
@import
'abstructs/helpers';

.header{
    background-color: $button_header;

    &__content{
        display: flex;
    }
    &__top-left{
        width: 50%;
        display: flex;
        justify-content: flex-start;
    }
    &__li-left{
        display: inline-block;
        color: $text_haderbottom;
        padding: 10px 0px;
        font-size: 13px;
        font-weight: bold;
    }

    &__top-right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        margin-top: 2px;

    }
    &__li-right{
        display: inline-block;
    }
    &__li-a{
        color: $text_haderbottom;
        display: flex;
        padding: 10px;
        font-size: 15px;
    }
}

.header-bottom{
    background-color: $text_haderbottom;

    &__content{
        display: flex;
    }
    &__left{
        width: 30%;
    }


    &__right{
        width: 70%;
        display: flex;
        justify-content: flex-end;
    }
    &__li{
        display: inline-block;
        margin-top: 40px;
    }
    &__a{
        color: $button_header;
        padding: 10px 20px;
        font-size: $text-size;
    }
    &__a:hover{
        background-color: $button_header;
        color: $text_haderbottom;
    }
}

